# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# macOS
.DS_Store

# Env files
.env
.env.local

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# Test coverage
coverage/

# OS/Editor junk
*.swp
Thumbs.db